// Paragraph: stiff, blocky, tight
// font-family: 'Kdam Thmor Pro', sans-serif;
// Paragraph: bottom is flat
// font-family: 'Miriam Libre', sans-serif;
// Titles: angled
// font-family: 'Racing Sans One', cursive;
// Paragraph: straight edges
// font-family: 'Sarala', sans-serif;
// Title: angled, cursive
// font-family: 'Sarina', cursive;
// Paragraph: digital
// font-family: 'Sarpanch', sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
}

/////////////
// VARIABLES
/////////////
$color-blue: rgb(0, 110, 255);
$font-kdam: 'Kdam Thmor Pro', sans-serif;

//////////
// MIXINS
//////////
@mixin flexbox($dir: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin h-w($height: 50px, $width: 50px) {
  height: $height;
  width: $width;
}

////////////
// HOMEPAGE
////////////
.homepage {
  @include flexbox(center, center);
  @include h-w(100vh, 100vw);
  position: absolute;
  background-color: $color-blue;
  color: white;
  z-index: 10;

  div {
    @include flexbox(column, center, center);
    transform: translateY(-25%);

    h1 {
      font-size: 100px;
      font-family: 'Racing Sans One', cursive;
      margin-bottom: 20px;
      cursor: pointer;
    }
  
    input {
      @include h-w(40px, 700px);
      border: none;
      border-radius: 20px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 40px;
      color: rgb(77, 77, 77);
      font-family: $font-kdam;
      font-weight: 900;
    }
  
    .search-icon {
      @include h-w(30px, 30px);
      background-color: $color-blue;
      border: none;
      border-radius: 20px;
      transform: translateX(-35px) translateY(3px);
      padding: 0;
  
      img {
        cursor: pointer;
        @include h-w(20px, 20px);
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        display: inline-block;
        padding: 0 20px 0 20px;
        font-size: 20px;
        font-family: $font-kdam;
        letter-spacing: 2px;
      }
  
      a {
        cursor: pointer;
      }
    }
  }

  
}

//////////
// NAVBAR
//////////
.navbar {
  @include h-w(90px, 100vw);

  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: auto auto 1fr auto;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-start;

  color: white;
  background: linear-gradient(180deg, $color-blue 95%, rgba(100,100,100,0.5) 95%, rgba(255,255,255,1) 100%);
  padding: 0 200px 0 200px;
  z-index: 5;

  h1 {
    font-size: 40px;
    font-family: 'Racing Sans One', cursive;
    cursor: pointer;
  }

  input {
    @include h-w(40px, 700px);
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    color: rgb(77, 77, 77);
    font-family: $font-kdam;
    font-weight: 900;
  }

  .search-icon {
    @include h-w(30px, 30px);
    background-color: $color-blue;
    border: none;
    border-radius: 20px;
    transform: translateX(-35px) translateY(3px);
    padding: 0;

    img {
      cursor: pointer;
      @include h-w(20px, 20px);
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 0 20px 0 20px;
      font-size: 17px;
      font-family: $font-kdam;
      letter-spacing: 2px;
    }

    a {
      cursor: pointer;
    }
  }
  
  .shopping-cart {
    @include h-w(30px, 30px);
  }
}

//////////////
// TagFilters
//////////////
.tag-filters {
  @include h-w(calc(100vh - 90px), 250px);
  position: absolute;
  left: 0;
  top: 90px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 97%, rgba(100,100,100,0.3) 97%, rgba(255,255,255,1) 100%);
  padding: 20px 40px 20px 40px;
  margin-left: 160px;

  h1 {
    cursor: default;
    font-size: 17px;
    font-family: $font-kdam;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  li {
    cursor: default;
    font-family: $font-kdam;
    font-size: 13px;
  }

  input {
    cursor: pointer;
  }

  button {
    cursor: pointer;
    margin-top: 30px;
  }
}

//////////////////
// ItemContainers
//////////////////
.item-container {
  @include h-w(calc(100vh - 90px), calc(100vw - 250px));
  position: absolute;
  left: 200px;
  top: 90px;
}