* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homepage {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgb(0, 110, 255);
  color: white;
  z-index: 10;
}
.homepage div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-25%);
}
.homepage div h1 {
  font-size: 100px;
  font-family: "Racing Sans One", cursive;
  margin-bottom: 20px;
  cursor: default;
}
.homepage div input {
  height: 40px;
  width: 700px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 40px;
  color: rgb(77, 77, 77);
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
}
.homepage div .search-icon {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 110, 255);
  border: none;
  border-radius: 20px;
  transform: translateX(-35px) translateY(3px);
  padding: 0;
}
.homepage div .search-icon img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.homepage div ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.homepage div ul li {
  padding: 0 20px 0 20px;
  font-size: 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}
.homepage div ul li .dropdown-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  list-style: none;
  position: absolute;
  transform: translateY(50%);
  padding: 10px;
  cursor: default;
}
.homepage div ul li .dropdown-list ul li {
  display: block;
  font-size: 15px;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.homepage div ul li:hover {
  background: linear-gradient(90deg, rgb(0, 110, 255) 0%, rgb(0, 85, 190) 30%, rgb(0, 85, 190) 70%, rgb(0, 110, 255) 100%);
}

.navbar {
  height: 90px;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: linear-gradient(180deg, rgb(0, 110, 255) 95%, rgba(100, 100, 100, 0.5) 95%, rgb(255, 255, 255) 100%);
  padding: 0 200px 0 200px;
  z-index: 5;
}
.navbar h1 {
  font-size: 40px;
  font-family: "Racing Sans One", cursive;
  cursor: pointer;
}
.navbar input {
  height: 40px;
  width: 700px;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 40px;
  color: rgb(77, 77, 77);
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 900;
}
.navbar .search-icon {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 110, 255);
  border: none;
  border-radius: 20px;
  transform: translateX(-35px) translateY(3px);
  padding: 0;
}
.navbar .search-icon img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.navbar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  font-size: 17px;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}
.navbar ul li .dropdown-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  list-style: none;
  position: absolute;
  transform: translateX(-50%);
  padding: 10px;
  cursor: default;
  background-color: rgb(0, 110, 255);
  opacity: 0.9;
}
.navbar ul li .dropdown-list ul li {
  display: block;
  font-size: 15px;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.navbar ul li:hover {
  background: linear-gradient(90deg, rgb(0, 110, 255) 0%, rgb(0, 85, 190) 30%, rgb(0, 85, 190) 70%, rgb(0, 110, 255) 100%);
}
.navbar .shopping-cart {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.search-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  width: 100vw;
  padding: 0px 200px 0px 200px;
}
.search-page .tag-filters {
  height: auto;
  width: 250px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 97%, rgba(100, 100, 100, 0.3) 97%, rgb(255, 255, 255) 100%);
  padding: 20px 40px 20px 0px;
  color: black;
}
.search-page .tag-filters h1 {
  color: black;
  cursor: default;
  font-size: 17px;
  font-family: "Kdam Thmor Pro", sans-serif;
  margin-top: 10px;
}
.search-page .tag-filters ul {
  list-style: none;
  padding: 0;
}
.search-page .tag-filters ul li {
  cursor: default;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 13px;
}
.search-page .tag-filters ul li input, .search-page .tag-filters ul li label {
  cursor: pointer;
}
.search-page .tag-filters div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 13px;
}
.search-page .tag-filters div input {
  height: auto;
  width: 4em;
}
.search-page .tag-filters .min-price, .search-page .tag-filters .max-price {
  cursor: text;
}
.search-page .tag-filters button {
  cursor: pointer;
  margin-top: 30px;
}
.search-page input::-webkit-outer-spin-button,
.search-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search-page .item-container {
  height: auto;
  width: calc(100vw - 250px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-items: center;
  text-align: center;
  padding: 20px;
}

.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  padding: 20px;
}
.tiles img {
  height: 250px;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.tiles .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.tiles .info-container .name {
  color: black;
  cursor: pointer;
}
.tiles .info-container .price {
  color: gray;
  cursor: default;
}/*# sourceMappingURL=App.css.map */