// Paragraph: stiff, blocky, tight
// font-family: 'Kdam Thmor Pro', sans-serif;
// Paragraph: bottom is flat
// font-family: 'Miriam Libre', sans-serif;
// Titles: angled
// font-family: 'Racing Sans One', cursive;
// Paragraph: straight edges
// font-family: 'Sarala', sans-serif;
// Title: angled, cursive
// font-family: 'Sarina', cursive;
// Paragraph: digital
// font-family: 'Sarpanch', sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

/////////////
// VARIABLES
/////////////
$color-blue: rgb(0, 110, 255);
$font-kdam: 'Kdam Thmor Pro', sans-serif;

//////////
// MIXINS
//////////
@mixin flexbox($dir: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin h-w($height: 50px, $width: 50px) {
  height: $height;
  width: $width;
}

/////////////
// ANIMATIONS
/////////////

////////////
// HOMEPAGE
////////////
.homepage {
  @include flexbox(center, center);
  @include h-w(100vh, 100vw);
  position: absolute;
  background-color: $color-blue;
  color: white;
  z-index: 10;

  div {
    @include flexbox(column, center, center);
    transform: translateY(-25%);

    h1 {
      font-size: 100px;
      font-family: 'Racing Sans One', cursive;
      margin-bottom: 20px;
      cursor: default;
    }
  
    input {
      @include h-w(40px, 700px);
      border: none;
      border-radius: 20px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 40px;
      color: rgb(77, 77, 77);
      font-family: $font-kdam;
      font-weight: 900;
    }
  
    .search-icon {
      @include h-w(30px, 30px);
      background-color: $color-blue;
      border: none;
      border-radius: 20px;
      transform: translateX(-35px) translateY(3px);
      padding: 0;
  
      img {
        cursor: pointer;
        @include h-w(20px, 20px);
      }
    }
  
    ul {
      @include flexbox(row, center, center);
      list-style: none;
      padding: 0;
  
      li {
        padding: 0 20px 0 20px;
        font-size: 20px;
        font-family: $font-kdam;
        letter-spacing: 2px;
        cursor: pointer;


        .dropdown-list {
          ul {
            @include flexbox(column, center, center);
            text-align: center;
            width: 250px;
            list-style: none;
            position: absolute;
            transform: translateY(50%);
            padding: 10px;
            cursor: default;
    
            li {
              display: block;
              font-size: 15px;
              padding: 0;
              width: 100%;
              cursor: pointer;
            }
          }
        }
      }

      li:hover {
        background: linear-gradient(90deg, rgba(0,110,255,1) 0%, rgb(0, 85, 190) 30%, rgb(0, 85, 190) 70%, rgba(0,110,255,1) 100%);
      }
    }
  }
}

//////////
// NAVBAR
//////////
.navbar {
  @include h-w(90px, 100vw);
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  column-gap: 40px;
  align-items: center;
  justify-content: flex-start;

  color: white;
  background: linear-gradient(180deg, $color-blue 95%, rgba(100,100,100,0.5) 95%, rgba(255,255,255,1) 100%);
  padding: 0 200px 0 200px;
  z-index: 5;

  h1 {
    font-size: 40px;
    font-family: 'Racing Sans One', cursive;
    cursor: pointer;
  }

  input {
    @include h-w(40px, 700px);
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    color: rgb(77, 77, 77);
    font-family: $font-kdam;
    font-weight: 900;
  }

  .search-icon {
    @include h-w(30px, 30px);
    background-color: $color-blue;
    border: none;
    border-radius: 20px;
    transform: translateX(-35px) translateY(3px);
    padding: 0;

    img {
      cursor: pointer;
      @include h-w(20px, 20px);
    }
  }

  ul {
    @include flexbox(row, center, center);
    list-style: none;
    padding: 0;

    li {
      @include flexbox(column, center, center);
      padding: 0 20px 0 20px;
      font-size: 17px;
      font-family: $font-kdam;
      letter-spacing: 2px;
      cursor: pointer;


      .dropdown-list {
        ul {
          @include flexbox(column, center, center);
          text-align: center;
          width: 250px;
          list-style: none;
          position: absolute;
          transform: translateX(-50%);
          padding: 10px;
          cursor: default;
          background-color: $color-blue;
          opacity: 0.9;
  
          li {
            display: block;
            font-size: 15px;
            padding: 0;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }

    li:hover {
      background: linear-gradient(90deg, rgba(0,110,255,1) 0%, rgb(0, 85, 190) 30%, rgb(0, 85, 190) 70%, rgba(0,110,255,1) 100%);
    }
  }
  
  .shopping-cart {
    @include h-w(30px, 30px);
    cursor: pointer;
  }
}

////////////////
// SEARCH PAGE
////////////////
.search-page {
  @include flexbox(row, flex-start, center);
  @include h-w(auto, 100vw);
  padding: 0px 200px 0px 200px;

  ///////////////
  // TAG FILTERS
  ///////////////
  .tag-filters {
    @include h-w(auto, 250px);
    background: linear-gradient(90deg, rgba(255,255,255,1) 97%, rgba(100,100,100,0.3) 97%, rgba(255,255,255,1) 100%);
    padding: 20px 40px 20px 0px;
    color: black;

    h1 {
      color: black;
      cursor: default;
      font-size: 17px;
      font-family: $font-kdam;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }
    
    li {
      cursor: default;
      font-family: $font-kdam;
      font-size: 13px;
    }

    input {
      cursor: pointer;
    }

    button {
      cursor: pointer;
      margin-top: 30px;
    }
  }

  ///////////////////
  // ITEM CONTAINERS
  ///////////////////
  .item-container {
    @include h-w(auto, calc(100vw - 250px));
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-items: center;
    text-align: center;
    padding: 20px;
  }
}


/////////
// TILES
/////////
.tiles {
  @include flexbox(column, center, center);
  @include h-w(300px, 300px);
  padding: 20px;
  
  img {
    @include h-w(250px, 250px);
    object-fit: contain;
    cursor: pointer;
  }

  .info-container {
    @include flexbox(column, center, center);
    font-size: 15px;

    .name {
      color: black;
      cursor: pointer;
    }

    .price {
      color: gray;
      cursor: default;
    }
  }
}