// Paragraph: stiff, blocky, tight
// font-family: 'Kdam Thmor Pro', sans-serif;
// Paragraph: bottom is flat
// font-family: 'Miriam Libre', sans-serif;
// Titles: angled
// font-family: 'Racing Sans One', cursive;
// Paragraph: straight edges
// font-family: 'Sarala', sans-serif;
// Title: angled, cursive
// font-family: 'Sarina', cursive;
// Paragraph: digital
// font-family: 'Sarpanch', sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
}

/////////////
// VARIABLES
/////////////
$color-blue: rgb(0, 110, 255);
$font-kdam: 'Kdam Thmor Pro', sans-serif;

//////////
// MIXINS
//////////
@mixin flexbox($dir: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin h-w($height: 50px, $width: 50px) {
  height: $height;
  width: $width;
}

//////////
// NAVBAR
//////////
.navbar {
  position: absolute;
  top: 0;
  color: white;
  background: linear-gradient(180deg, rgba(0,110,255,1) 90%, rgba(255,255,255,1) 93%, rgba(100,100,100,1) 100%);
  padding: 0 40px 0 40px;
  // box-shadow: 0px -5px 3px rgb(100, 100, 100) inset;
  z-index: 5;
  @include h-w(90px, 100vw);
  @include flexbox(row, center, flex-start);

  img {
    cursor: pointer;
    @include h-w(30px, 30px);
  }

  .shopping-cart {
    position: absolute;
    right: 40px;
    @include h-w(30px, 30px);
  }

  h1 {
    font-size: 40px;
    margin-left: 40px;
    font-family: 'Racing Sans One', cursive;
    cursor: pointer;
  }

  input {
    margin-left: 40px;
    @include h-w(40px, 1000px);
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    color: rgb(77, 77, 77);
    font-family: $font-kdam;
    font-weight: 900;
  }

  .search-icon {
    background-color: $color-blue;
    border: none;
    border-radius: 20px;
    transform: translateX(-35px);
    padding: 0;
    @include h-w(30px, 30px);

    img {
      cursor: pointer;
      @include h-w(20px, 20px);
    }
  }
}

//////////////
// TagFilters
//////////////
.tag-filters {
  position: absolute;
  left: 0;
  top: 90px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 97%, rgba(100,100,100,0.3) 97%, rgba(255,255,255,1) 100%);
  padding: 20px 40px 20px 40px;
  @include h-w(calc(100vh - 90px), 250px);

  h1 {
    cursor: default;
    font-size: 17px;
    font-family: $font-kdam;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  li {
    cursor: default;
    font-family: $font-kdam;
    font-size: 13px;
  }

  input {
    cursor: pointer;
  }
}

//////////////////
// ItemContainers
//////////////////
.item-container {
  position: absolute;
  left: 200px;
  top: 90px;
  @include h-w(calc(100vh - 90px), calc(100vw - 250px));
}